# vscode files
.vscode/

# twitter data directories
/tweet-scraper/metoo-tweets/
/tweet-scraper/user-batches/
/user-scraper/college-followers/
/user-scraper/user-batches/
/user-batches/
lda/clusters/
lda/metoo-tweets/
metoo_analysis/topic_1/

# TRIPS directories
trips-machine/
trips-web/

